<main class="_bg-color-blue grid grid-rows-[auto,1fr] h-screen">
  <app-auth-flow-header [text]="textHeader"></app-auth-flow-header>
  <app-auth-flow-content>
    <div class="mb-4">
      <p class="text-center font-black text-2xl">Alterar Senha</p>
    </div>
    <form [formGroup]="resetPasswordForm" class="mb-3">
      <div class="mb-6 text-end">
        <app-input-form formControlName="newPassword" (onBlur)="onBlurInputNewPassword($event)"
          [type]="inputNewPassword.type" [id]="inputNewPassword.id" [name]="inputNewPassword.name"
          [placeholder]="inputNewPassword.placeholder"
          [icon]="inputNewPassword.icon"></app-input-form>
        <div
          *ngIf="resetPasswordForm.get('newPassword')?.hasError('required') && resetPasswordForm.get('newPassword')?.touched"
          class="text-red-500 text-start ml-4">
          Por favor! Informe a senha!
        </div>
        <div
          *ngIf="resetPasswordForm.get('newPassword')?.hasError('pattern') && resetPasswordForm.get('newPassword')?.touched"
          class="text-red-500 text-start ml-4">
          A senha deve ter pelo menos 8 caracteres, incluindo uma letra maiúscula, uma minúscula e
          um número.
        </div>
        <app-input-form formControlName="passwordCheck" (onBlur)="onBlurInputPasswordCheck($event)"
          [type]="inputPasswordCheck.type" [id]="inputPasswordCheck.id"
          [name]="inputPasswordCheck.name" [placeholder]="inputPasswordCheck.placeholder"
          [icon]="inputPasswordCheck.icon"></app-input-form>
        <div
          *ngIf="resetPasswordForm.get('passwordCheck')?.hasError('required') && resetPasswordForm.get('passwordCheck')?.touched"
          class="text-red-500 text-start ml-4">
          Por favor! Confirme a senha!
        </div>
        <div
          *ngIf="resetPasswordForm.hasError('passwordsMatchValidator') && resetPasswordForm.get('passwordCheck')?.touched"
          class="text-red-500 text-start ml-4">
          Confirmação de senha incorreta!
        </div>
        <app-input-form formControlName="code" (onBlur)="onBlurInputCode($event)"
          [type]="inputCode.type" [id]="inputCode.id" [name]="inputCode.name"
          [placeholder]="inputCode.placeholder" [icon]="inputCode.icon"></app-input-form>
        <div
          *ngIf="resetPasswordForm.get('code')?.hasError('required') && resetPasswordForm.get('code')?.touched"
          class="text-red-500 text-start ml-4">
          Por favor! Informe o código enviado para o seu email!
        </div>
        <div
          *ngIf="resetPasswordForm.hasError('codeValidator') && resetPasswordForm.get('code')?.touched"
          class="text-red-500 text-start ml-4">
          O código deve ter 6 números!
        </div>
        <div
          *ngIf="resetPasswordForm.hasError('onlyNumbersValidator') && resetPasswordForm.get('code')?.touched"
          class="text-red-500 text-start ml-4">
          O código e formado apenas por números!
        </div>
      </div>
      <div class="text-center">
        <button appBlueButton type="submit" (click)="resetPassword()">{{ textButton }}</button>
      </div>
    </form>
  </app-auth-flow-content>
</main>
