<main class="_bg-color-blue grid grid-rows-[auto,1fr] h-screen">
  <app-auth-flow-header [text]="textHeader"></app-auth-flow-header>
  <app-auth-flow-content>
    <div class="mb-4">
      <p class="text-center font-black text-2xl">Alterar Senha</p>
    </div>
    <form [formGroup]="resetPasswordForm" class="mb-3">
      <div class="mb-6 text-end">
        <app-input-form formControlName="newPassword" (onBlur)="onBlurInputNewPassword($event)"
          [type]="inputNewPassword.type" [id]="inputNewPassword.id" [name]="inputNewPassword.name"
          [placeholder]="inputNewPassword.placeholder"
          [icon]="inputNewPassword.icon"></app-input-form>
        <app-input-form formControlName="passwordCheck" (onBlur)="onBlurInputPasswordCheck($event)"
          [type]="inputPasswordCheck.type" [id]="inputPasswordCheck.id"
          [name]="inputPasswordCheck.name" [placeholder]="inputPasswordCheck.placeholder"
          [icon]="inputPasswordCheck.icon"></app-input-form>
        <app-input-form formControlName="code" (onBlur)="onBlurInputCode($event)"
          [type]="inputCode.type" [id]="inputCode.id" [name]="inputCode.name"
          [placeholder]="inputCode.placeholder" [icon]="inputCode.icon"></app-input-form>
      </div>
      <div class="text-center">
        <button appBlueButton type="submit" (click)="resetPassword()">{{ textButton }}</button>
      </div>
    </form>
  </app-auth-flow-content>
</main>
