<main class="grid grid-rows-[auto,1fr] h-screen">
  <app-auth-flow-header [text]="textHeader"></app-auth-flow-header>
  <app-auth-flow-content>
    <div class="mb-4">
      <p class="text-center font-black text-2xl">Alterar Senha</p>
    </div>
    <div class="mb-6 text-end">
      <form class="mb-3">
        <app-input-form [type]="inputPassword.type" [id]="inputPassword.id"
          [name]="inputPassword.name" [placeholder]="inputPassword.placeholder"
          [icon]="inputPassword.icon"></app-input-form>
        <app-input-form [type]="inputPasswordCheck.type" [id]="inputPasswordCheck.id"
          [name]="inputPasswordCheck.name" [placeholder]="inputPasswordCheck.placeholder"
          [icon]="inputPasswordCheck.icon"></app-input-form>
      </form>
    </div>
    <div class="text-center">
      <app-general-button [text]="textButton"></app-general-button>
    </div>
  </app-auth-flow-content>
</main>