<app-layout-page (checkLogin)="checkLogin($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="ÁREA ADMINISTRATIVA"></app-main-header>
    <div appGridContainerSm2>
      <app-card (click)="item_menu_registration_employee.redirection()"
        [title]="item_menu_registration_employee.title"
        [icon]="item_menu_registration_employee.icon"></app-card>
      <app-card (click)="item_menu_view_employee.redirection()"
        [title]="item_menu_view_employee.title" [icon]="item_menu_view_employee.icon"></app-card>
    </div>

    <app-main-header title="ÁREA DE USUÁRIOS"></app-main-header>
    <div appGridContainerSm2>
      <app-card (click)="item_menu_registration_user.redirection()"
        [title]="item_menu_registration_user.title"
        [icon]="item_menu_registration_user.icon"></app-card>
      <app-card (click)="item_menu_registration_user.redirection()"
        [title]="item_menu_registration_user.title" [icon]="item_menu_view_user.icon"></app-card>
    </div>

    <app-main-header title="ÁREA DE DOAÇÕES"></app-main-header>
    <div appGridContainerSm2>
      <app-card (click)="item_menu_registration_donation.redirection()"
        [title]="item_menu_registration_donation.title"
        [icon]="item_menu_registration_donation.icon"></app-card>
      <app-card (click)="item_menu_view_donation.redirection()"
        [title]="item_menu_view_donation.title" [icon]="item_menu_view_donation.icon"></app-card>
      <app-card (click)="item_menu_report_donation.redirection()"
        [title]="item_menu_report_donation.title"
        [icon]="item_menu_report_donation.icon"></app-card>
    </div>

    <app-main-header title="ÁREA DE ANIMAIS"></app-main-header>
    <div appGridContainerSm2>
      <app-card (click)="item_menu_registration_animal.redirection()"
        [title]="item_menu_registration_animal.title"
        [icon]="item_menu_registration_animal.icon"></app-card>
      <app-card (click)="item_menu_view_animal.redirection()" [title]="item_menu_view_animal.title"
        [icon]="item_menu_view_animal.icon"></app-card>
      <app-card (click)="item_menu_report_animal.redirection()"
        [title]="item_menu_report_animal.title" [icon]="item_menu_report_animal.icon"></app-card>
    </div>

    <app-main-header title="ÁREA DE ADOÇÕES"></app-main-header>
    <div appGridContainerSm2>
      <app-card (click)="item_menu_registration_adoption.redirection()"
        [title]="item_menu_registration_adoption.title"
        [icon]="item_menu_registration_adoption.icon"></app-card>
    </div>
  </div>
</app-layout-page>
