<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="CADASTRAR RAÇAS"></app-main-header>
    <form class="m-1" [formGroup]="registrationRacesForm">
      <div class="mb-4">
        <label class="font-semibold text-sm" for="nameRace">Nome da Raça:</label>
        <app-input-form #inputNameRace formControlName="nameRace"
          (onInput)="updateFormField(inputNameRace.id, $event)" type="text" id="nameRace"
          placeholder="Raça"></app-input-form>
        <div
          *ngIf="submitted && registrationRacesForm.get('nameRace')?.hasError('required') || registrationRacesForm.get('nameRace')?.hasError('required') && registrationRacesForm.get('nameRace')?.touched"
          class="text-red-500 text-start ml-4">
          Por favor! Informe um nome da raça!
        </div>
      </div>
      <div class="text-center">
        <button appButton="blue" (click)="save()">Salvar</button>
      </div>
    </form>
  </div>
</app-layout-page>