<app-layout-page (checkLogin)="loadingPage($event)">
  <app-main-header title="ALTERAR SENHA"></app-main-header>
  <form class="m-1" [formGroup]="updatePasswordForm">
    <div class="mb-4">
      <app-input-form #inputOldPassword formControlName="oldPassword"
        (onInput)="updateFormField(inputOldPassword.id, $event)" type="password" id="oldPassword"
        placeholder="Senha" [icon]="routersIconsMap.lock"></app-input-form>
      <div
        *ngIf="submitted && updatePasswordForm.get('oldPassword')?.hasError('required') || updatePasswordForm.get('oldPassword')?.hasError('required') && updatePasswordForm.get('oldPassword')?.touched"
        class="text-red-500 text-start ml-4">
        Por favor! Informe sua senha atual!
      </div>
    </div>
    <div class="mb-4">
      <app-input-form #inputNewPassword formControlName="newPassword"
        (onInput)="updateFormField(inputNewPassword.id, $event)" type="password" id="newPassword"
        placeholder="Nova Senha" [icon]="routersIconsMap.lock"></app-input-form>
      <div
        *ngIf="submitted && updatePasswordForm.get('newPassword')?.hasError('required') || updatePasswordForm.get('newPassword')?.hasError('required') && updatePasswordForm.get('newPassword')?.touched"
        class="text-red-500 text-start ml-4">
        Por favor! Informe a senha!
      </div>
      <div
        *ngIf="updatePasswordForm.get('newPassword')?.hasError('pattern') && updatePasswordForm.get('newPassword')?.touched"
        class="text-red-500 text-start ml-4">
        A senha deve ter pelo menos 8 caracteres, incluindo uma letra maiúscula, uma minúscula e
        um número.
      </div>
    </div>
    <div class="mb-4">
      <app-input-form #inputPasswordCheck formControlName="passwordCheck"
        (onInput)="updateFormField(inputPasswordCheck.id, $event)" type="password"
        id="passwordCheck" placeholder="Repetir Senha"
        [icon]="routersIconsMap.lock"></app-input-form>
      <div
        *ngIf="submitted && updatePasswordForm.get('passwordCheck')?.hasError('required') || updatePasswordForm.get('passwordCheck')?.hasError('required') && updatePasswordForm.get('passwordCheck')?.touched"
        class="text-red-500 text-start ml-4">
        Por favor! Confirme a senha!
      </div>
      <div
        *ngIf="updatePasswordForm.hasError('passwordsMatchValidator') && updatePasswordForm.get('passwordCheck')?.touched"
        class="text-red-500 text-start ml-4">
        Confirmação de senha incorreta!
      </div>
    </div>
    <div class="text-center">
      <button appBlueButton (click)="save()">Alterar Senha</button>
    </div>
  </form>
</app-layout-page>
