<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="VISUALIZAR CATEGORIAS DE DOAÇÃO"></app-main-header>
    <div class="m-1">
      <app-input-form #inputSearch (onInput)="search($event)" type="text" id="search"
        placeholder="Nome da Categoria" [icon]="routersIconsMap.search"></app-input-form>
      <div class="grid xl:grid-cols-2 xl:gap-x-4">
        <app-card-view *ngFor="let donationCategory of donationCategoriesList"
          [icon]="routersIconsMap.wysiwyg" [item]="donationCategory.values"
          [id]="donationCategory.id" urlDetail="/donation-categories"></app-card-view>
      </div>
    </div>
  </div>
</app-layout-page>