<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="EDITAR ESPÉCIES"></app-main-header>
    <form class="m-1" [formGroup]="detailSpeciesForm">
      <div class="mb-4">
        <label class="font-semibold text-sm" for="nameSpecies">Nome da Espécies:</label>
        <app-input-form #inputNameSpecies formControlName="nameSpecies"
          (onInput)="updateFormField(inputNameSpecies.id, $event)" type="text" id="nameSpecies"
          placeholder="Espécies"></app-input-form>
        <div
          *ngIf="submitted && detailSpeciesForm.get('nameSpecies')?.hasError('required') || detailSpeciesForm.get('nameSpecies')?.hasError('required') && detailSpeciesForm.get('nameSpecies')?.touched"
          class="text-red-500 text-start ml-4">
          Por favor! Informe um nome da espécies!
        </div>
      </div>
      <div class="text-center">
        <button appButton="blue" (click)="save()">Salvar</button>
      </div>
      <div class="text-center mt-4">
        <button appButton="red" (click)="del()">Deletar</button>
      </div>
    </form>
  </div>
</app-layout-page>