<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="CADASTRAR FÚNCIONARIO"></app-main-header>
    <form class="m-1" [formGroup]="registrationEmployeeForm">
      <app-subheader title="Informações Pessoais"></app-subheader>
      <div appGridContainerSm2 [formGroup]="personal_information">
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameEmployee">Nome Completo:</label>
          <app-input-form #inputNameEmployee formControlName="nameEmployee"
            (onInput)=" updateFormField(inputNameEmployee.id, $event)" type="text" id="nameEmployee"
            placeholder="Nome Completo"></app-input-form>
          <div
            *ngIf="submitted && personal_information.get('nameEmployee')?.hasError('required') || personal_information.get('nameEmployee')?.hasError('required') && personal_information.get('nameEmployee')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe um nome completo!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="email">Email:</label>
          <app-input-form #inputEmail formControlName="email"
            (onInput)="updateFormField(inputEmail.id,$event)" type="email" id="email"
            placeholder="Email"></app-input-form>
          <div
            *ngIf="submitted && personal_information.get('email')?.hasError('required') || personal_information.get('email')?.hasError('required') && personal_information.get('email')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe um email!
          </div>
          <div
            *ngIf="personal_information.get('email')?.hasError('pattern') && personal_information.get('email')?.touched"
            class="text-red-500 text-start ml-4">
            Email inválido!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="cellPhoneNumber">Número de telefone:</label>
          <app-input-form #inputCellPhoneNumber formControlName="cellPhoneNumber"
            (onInput)="updateFormField(inputCellPhoneNumber.id, $event)" type="text"
            id="cellPhoneNumber" placeholder="Número de telefone"></app-input-form>
          <div
            *ngIf="submitted && personal_information.get('cellPhoneNumber')?.hasError('required') || personal_information.get('cellPhoneNumber')?.hasError('required') && personal_information.get('cellPhoneNumber')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe um número de celular!
          </div>
          <div
            *ngIf="personal_information.get('cellPhoneNumber')?.hasError('pattern') && personal_information.get('cellPhoneNumber')?.touched"
            class="text-red-500 text-start ml-4">
            Número do celular inválido!
          </div>
        </div>
      </div>

      <app-subheader title="Informações do Endereço"></app-subheader>
      <div appGridContainerSm2 [formGroup]="address_information">
        <div class="mb-4">
          <label class="font-semibold text-sm" for="publicPlace">Logradouro:</label>
          <app-input-form #inputPublicPlace formControlName="publicPlace"
            (onInput)="updateFormField(inputPublicPlace.id, $event)" type="text" id="publicPlace"
            placeholder="Logradouro"></app-input-form>
          <div
            *ngIf="submitted && address_information.get('publicPlace')?.hasError('required') || address_information.get('publicPlace')?.hasError('required') && address_information.get('publicPlace')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe o logradouro!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="neighborhood">Bairro:</label>
          <app-input-form #inputNeighborhood formControlName="neighborhood"
            (onInput)="updateFormField(inputNeighborhood.id, $event)" type="text" id="neighborhood"
            placeholder="Bairro"></app-input-form>
          <div
            *ngIf="submitted && address_information.get('neighborhood')?.hasError('required') || address_information.get('neighborhood')?.hasError('required') && address_information.get('neighborhood')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe o Bairro!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="number">Número:</label>
          <app-input-form #inputNumber formControlName="number"
            (onInput)="updateFormField(inputNumber.id, $event)" type="text" id="number"
            placeholder="Número"></app-input-form>
          <div
            *ngIf="submitted && address_information.get('number')?.hasError('required') || address_information.get('number')?.hasError('required') && address_information.get('number')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe o Número!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="complement">Complemento:</label>
          <app-input-form #inputComplement formControlName="complement"
            (onInput)="updateFormField(inputComplement.id, $event)" type="text" id="complement"
            placeholder="Complemento"></app-input-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameState">Estado:</label>
          <app-autocomplete-form #inputNameState (onSelect)="onSelectState($event, inputNameCity)"
            formControlName="nameState"
            (onInput)="filterStatesList(inputNameState.value, inputNameCity)" id="nameState"
            placeholder="Estado" [options]="statesList"></app-autocomplete-form>
          <div
            *ngIf="submitted && address_information.get('nameState')?.hasError('required') || address_information.get('nameState')?.hasError('required') && address_information.get('nameState')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Selecione um estado!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameCity">Cidade:</label>
          <app-autocomplete-form #inputNameCity (onSelect)="onSelectCity($event)"
            formControlName="nameCity" (onInput)="filterCitiesList(inputNameCity.value)"
            id="nameCity" placeholder="Cidade" [options]="citiesList"></app-autocomplete-form>
          <div
            *ngIf="submitted && address_information.get('nameCity')?.hasError('required') || address_information.get('nameCity')?.hasError('required') && address_information.get('nameCity')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Selecione uma cidade!
          </div>
        </div>
      </div>

      <app-subheader title="Informações Profissionais"></app-subheader>
      <div class="mb-4" [formGroup]="personal_information">
        <label class="font-semibold text-sm" for="position">Cargo:</label>
        <app-autocomplete-form #inputPosition (onSelect)="onSelectPosition($event)"
          formControlName="position" id="position" placeholder="Cargo"
          [options]="positionsList"></app-autocomplete-form>
        <div
          *ngIf="submitted && personal_information.get('position')?.hasError('required') || personal_information.get('position')?.hasError('required') && personal_information.get('position')?.touched"
          class="text-red-500 text-start ml-4">
          Por favor! Selecione uma cargo para o fúncionario!
        </div>
      </div>

      <div class="text-center">
        <button appButton="blue" (click)="save()">Salvar</button>
      </div>
    </form>
  </div>
</app-layout-page>