<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="EDITAR ENTRADA DE INSUMO"></app-main-header>
    <form class="m-1" [formGroup]="detailSupplementInputForm">
      <div appGridContainerSm2>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="description">Descrição:</label>
          <app-input-form #inputDescription formControlName="description"
            (onInput)="updateFormField(inputDescription.id,$event)" type="text" id="description"
            placeholder="Descrição"></app-input-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="amount">Quantidade de Insumo:</label>
          <app-input-form #inputAmount formControlName="amount"
            (onInput)="updateFormField(inputAmount.id, $event)" type="text" id="amount"
            placeholder="Quantidade de Insumo"></app-input-form>
          <div
            *ngIf="submitted && detailSupplementInputForm.get('amount')?.hasError('required') || detailSupplementInputForm.get('amount')?.hasError('required') && detailSupplementInputForm.get('amount')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe a quantidade de insumos!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameSupplement">Insumo:</label>
          <app-autocomplete-form #inputSupplement (onSelect)="onSelectSupplement($event)"
            formControlName="nameSupplement"
            (onInput)="filterSupplementsList(inputSupplement.value)" id="nameSupplement"
            placeholder="Insumo" [options]="supplementList"></app-autocomplete-form>
          <div
            *ngIf="submitted && detailSupplementInputForm.get('nameSupplement')?.hasError('required') || detailSupplementInputForm.get('nameSupplement')?.hasError('required') && detailSupplementInputForm.get('nameSupplement')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Selecione o Insumo!
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label class="font-semibold text-sm" for="inputDate">Data de Entrada:</label>
        <app-input-form #inputInputDate formControlName="inputDate" type="date" id="inputDate"
          placeholder="Data de Entrada"></app-input-form>
      </div>
      <div class="text-center">
        <button appButton="blue" (click)="save()">Salvar</button>
      </div>
      <div class="text-center mt-4">
        <button appButton="red" (click)="del()">Deletar</button>
      </div>
    </form>
  </div>
</app-layout-page>