<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="VISUALIZAR RAÇAS"></app-main-header>
    <div class="m-1">
      <app-input-form #inputSearch (onInput)="search($event)" type="text" id="search"
        placeholder="Nome da Raça" [icon]="routersIconsMap.search"></app-input-form>
      <div>
        <app-card-view *ngFor="let race of racesList" [icon]="routersIconsMap.wysiwyg"
          [item]="race.values" [id]="race.id" urlDetail="/races"></app-card-view>
      </div>
    </div>
  </div>
</app-layout-page>