<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="VISUALIZAR ADOÇÕES"></app-main-header>
    <div class="m-1">
      <app-input-form #inputSearch (onInput)="search($event)" type="text" id="search"
        placeholder="Nome do Adotante" [icon]=" routersIconsMap.search"></app-input-form>
      <div>
        <app-card-view *ngFor="let adoption of adoptionsList" [icon]="routersIconsMap.person"
          [item]="adoption.values" [id]="adoption.id" urlDetail="/adoptions"></app-card-view>
      </div>
    </div>
  </div>
</app-layout-page>