<aside class="
  h-full overflow-y-auto scrollbar
  w-full sm:w-auto fixed sm:relative top-0 left-0 bg-white z-50
  ">
  <header class="
    _bg-color-blue text-white
    rounded-tr-3xl
    p-4
  ">
    <div class="flex justify-end">
      <img (click)="onClickMenuSide()" class="h-10 w-10 cursor-pointer"
        src="../../../assets/icons/icon_arrow_back.png">
    </div>
    <span class="block text-xl font-medium">{{ user.nameEmployee }}</span>
    <span class="block text-sm">{{ user.email }}</span>
  </header>
  <menu>
    <app-title-section-menu title="MENU DE NAVEGAÇÃO"></app-title-section-menu>
    <app-item-menu (click)="item_menu_home.redirection(); onClickMenuSide()"
      [icon]="item_menu_home.icon" [title]="item_menu_home.title"></app-item-menu>

    <app-title-section-menu title="ÁREA ADMINISTRATIVA"></app-title-section-menu>
    <app-item-menu (click)="item_menu_registration_employee.redirection(); onClickMenuSide()"
      [icon]="item_menu_registration_employee.icon"
      [title]="item_menu_registration_employee.title"></app-item-menu>
    <app-item-menu (click)="item_menu_view_employee.redirection(); onClickMenuSide()"
      [icon]="item_menu_view_employee.icon" [title]="item_menu_view_employee.title"></app-item-menu>

    <app-title-section-menu title="ÁREA DE USUÁRIOS"></app-title-section-menu>
    <app-item-menu (click)="item_menu_registration_user.redirection(); onClickMenuSide()"
      [icon]="item_menu_registration_user.icon"
      [title]="item_menu_registration_user.title"></app-item-menu>
    <app-item-menu (click)="item_menu_view_user.redirection(); onClickMenuSide()"
      [icon]="item_menu_view_user.icon" [title]="item_menu_view_user.title"></app-item-menu>

    <app-title-section-menu title="ÁREA DE DOAÇÕES"></app-title-section-menu>
    <app-item-menu (click)="item_menu_registration_donation.redirection(); onClickMenuSide()"
      [icon]="item_menu_registration_donation.icon"
      [title]="item_menu_registration_donation.title"></app-item-menu>
    <app-item-menu (click)="item_menu_view_donation.redirection(); onClickMenuSide()"
      [icon]="item_menu_view_donation.icon" [title]="item_menu_view_donation.title"></app-item-menu>
    <app-item-menu (click)="item_menu_report_donation.redirection(); onClickMenuSide()"
      [icon]="item_menu_report_donation.icon"
      [title]="item_menu_report_donation.title"></app-item-menu>

    <app-title-section-menu title="ÁREA DE ANIMAIS"></app-title-section-menu>
    <app-item-menu (click)="item_menu_registration_animal.redirection(); onClickMenuSide()"
      [icon]="item_menu_registration_animal.icon"
      [title]="item_menu_registration_animal.title"></app-item-menu>
    <app-item-menu (click)="item_menu_view_animal.redirection(); onClickMenuSide()"
      [icon]="item_menu_view_animal.icon" [title]="item_menu_view_animal.title"></app-item-menu>
    <app-item-menu (click)="item_menu_report_animal.redirection(); onClickMenuSide()"
      [icon]="item_menu_report_animal.icon" [title]="item_menu_report_animal.title"></app-item-menu>

    <app-title-section-menu title="ÁREA DE ADOÇÕES"></app-title-section-menu>
    <app-item-menu (click)="item_menu_registration_adoption.redirection(); onClickMenuSide()"
      [icon]="item_menu_registration_adoption.icon"
      [title]="item_menu_registration_adoption.title"></app-item-menu>

    <app-title-section-menu title="USUÁRIO"></app-title-section-menu>
    <app-item-menu (click)="item_menu_view_profile.redirection(); onClickMenuSide()"
      [icon]="item_menu_view_profile.icon" [title]="item_menu_view_profile.title"></app-item-menu>
    <app-item-menu (click)="item_menu_logout.redirection()" [icon]="item_menu_logout.icon"
      [title]="item_menu_logout.title"></app-item-menu>
  </menu>
</aside>