<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="EDITAR PERFIL"></app-main-header>
    <form class="m-1" [formGroup]="profileForm">
      <app-subheader title="Informações Pessoais"></app-subheader>
      <div appGridContainerSm2>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameEmployee">Nome Completo:</label>
          <app-input-form #inputNameEmployee formControlName="nameEmployee"
            (onInput)="updateFormField(inputNameEmployee.id, $event)" type="text" id="nameEmployee"
            placeholder="Nome Completo"></app-input-form>
          <div
            *ngIf="submitted && profileForm.get('nameEmployee')?.hasError('required') || profileForm.get('nameEmployee')?.hasError('required') && profileForm.get('nameEmployee')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe um nome completo!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="email">Email:</label>
          <app-input-form #inputEmail formControlName="email"
            (onInput)="updateFormField(inputEmail.id,$event)" type="email" id="email"
            placeholder="Email"></app-input-form>
          <div
            *ngIf="submitted && profileForm.get('email')?.hasError('required') || profileForm.get('email')?.hasError('required') && profileForm.get('email')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe um email!
          </div>
          <div
            *ngIf="profileForm.get('email')?.hasError('pattern') && profileForm.get('email')?.touched"
            class="text-red-500 text-start ml-4">
            Email inválido!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="cellPhoneNumber">Número de telefone:</label>
          <app-input-form #inputCellPhoneNumber formControlName="cellPhoneNumber"
            (onInput)="updateFormField(inputCellPhoneNumber.id, $event)" type="text"
            id="cellPhoneNumber" placeholder="Número de telefone"></app-input-form>
          <div
            *ngIf="submitted && profileForm.get('cellPhoneNumber')?.hasError('required') || profileForm.get('cellPhoneNumber')?.hasError('required') && profileForm.get('cellPhoneNumber')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe um número de celular!
          </div>
          <div
            *ngIf="profileForm.get('cellPhoneNumber')?.hasError('pattern') && profileForm.get('cellPhoneNumber')?.touched"
            class="text-red-500 text-start ml-4">
            Número do celular inválido!
          </div>
        </div>
      </div>

      <app-subheader title="Informações do Endereço"></app-subheader>
      <div appGridContainerSm2>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="publicPlace">Logradouro:</label>
          <app-input-form #inputPublicPlace formControlName="publicPlace"
            (onInput)="updateFormField(inputPublicPlace.id, $event)" type="text" id="publicPlace"
            placeholder="Logradouro"></app-input-form>
          <div
            *ngIf="submitted && profileForm.get('publicPlace')?.hasError('required') || profileForm.get('publicPlace')?.hasError('required') && profileForm.get('publicPlace')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe o logradouro!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="neighborhood">Bairro:</label>
          <app-input-form #inputNeighborhood formControlName="neighborhood"
            (onInput)="updateFormField(inputNeighborhood.id, $event)" type="text" id="neighborhood"
            placeholder="Bairro"></app-input-form>
          <div
            *ngIf="submitted && profileForm.get('neighborhood')?.hasError('required') || profileForm.get('neighborhood')?.hasError('required') && profileForm.get('neighborhood')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe o Bairro!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="number">Número:</label>
          <app-input-form #inputNumber formControlName="number"
            (onInput)="updateFormField(inputNumber.id, $event)" type="text" id="number"
            placeholder="Número"></app-input-form>
          <div
            *ngIf="submitted && profileForm.get('number')?.hasError('required') || profileForm.get('number')?.hasError('required') && profileForm.get('number')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Informe o Número!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="complement">Complemento:</label>
          <app-input-form #inputComplement formControlName="complement"
            (onInput)="updateFormField(inputComplement.id, $event)" type="text" id="complement"
            placeholder="Complemento"></app-input-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameState">Estado:</label>
          <app-autocomplete-form #inputNameState (onSelect)="onSelectState($event, inputNameCity)"
            formControlName="nameState" (onInput)="filterStatesList(inputNameState.value)"
            id="nameState" placeholder="Estado" [options]="statesList"></app-autocomplete-form>
          <div
            *ngIf="submitted && profileForm.get('nameState')?.hasError('required') || profileForm.get('nameState')?.hasError('required') && profileForm.get('nameState')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Selecione um estado!
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameCity">Cidade:</label>
          <app-autocomplete-form #inputNameCity (onSelect)="onSelectCity($event)"
            formControlName="nameCity" (onInput)="filterCitiesList(inputNameCity.value)"
            id="nameCity" placeholder="Cidade" [options]="citiesList"></app-autocomplete-form>
          <div
            *ngIf="submitted && profileForm.get('nameCity')?.hasError('required') || profileForm.get('nameCity')?.hasError('required') && profileForm.get('nameCity')?.touched"
            class="text-red-500 text-start ml-4">
            Por favor! Selecione uma cidade!
          </div>
        </div>
      </div>

      <app-subheader title="Informações Profissionais"></app-subheader>
      <div appGridContainerSm2>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="position">Cargo:</label>
          <app-autocomplete-form #inputPosition (onSelect)="onSelectPosition($event)"
            formControlName="position" id="position" placeholder="Cargo"
            [options]="positionsList"></app-autocomplete-form>
        </div>
      </div>

      <div class="text-center">
        <button appBlueButton (click)="save()">Salvar</button>
      </div>
    </form>
    <div (click)="redirectToUpdatePassword()"
      class="flex justify-end items-center tracking-widest mt-4 cursor-pointer">
      <a class="_text-blue font-semibold text-base underline">Alterar Senha</a>
      <img class="h-6 w-6" src="../../../assets/icons/icon_arrow_forward_blue.png">
    </div>
  </div>
</app-layout-page>
