<div class="_card cursor-pointer
  flex flex-col sm:flex-row justify-center items-center gap-y-4 sm:gap-x-16 md:gap-6
  rounded-3xl border py-4 px-8 mt-4 hover:bg-gray-200
" [attr.id]="id" (click)="onClick()">
  <img class="block h-20 w-20" [attr.src]="icon">
  <div class="md:flex-1 grid md:grid-cols-2 gap-y-4">
    <div class="md:mx-4" *ngFor="let property of item">
      <span class="text-sm">
        <strong class="text-base">{{ property.key }}:</strong>
        {{ property.value }}
      </span>
    </div>
  </div>
</div>