<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="VISUALIZAR ANIMAIS"></app-main-header>
    <div class="m-1">
      <app-input-form #inputSearch (onInput)="search($event)" type="text" id="search"
        placeholder="Nome do Animal" [icon]=" routersIconsMap.search"></app-input-form>
      <div>
        <app-card-view *ngFor="let animal of animalsList"
          [icon]="routersIconsMap.sound_detection_dog_barking" [item]="animal.values"
          [id]="animal.id" urlDetail="/animals"></app-card-view>
      </div>
    </div>
  </div>
</app-layout-page>
