<app-layout-page (checkLogin)="loadingPage($event)">
  <div class="flex-1 h-full overflow-y-auto scrollbar">
    <app-main-header title="EDITAR PERFIL"></app-main-header>
    <form class="m-1" [formGroup]="profileForm">
      <app-subheader title="Informações Pessoais"></app-subheader>
      <div appGridContainerSm2>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameEmployee">Nome Completo:</label>
          <app-input-form #inputNameEmployee formControlName="nameEmployee"
            (onInput)="updateFormField(inputNameEmployee.id, $event)" type="text" id="nameEmployee"
            placeholder="Nome Completo"></app-input-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="email">Email:</label>
          <app-input-form #inputEmail formControlName="email"
            (onInput)="updateFormField(inputEmail.id,$event)" type="email" id="email"
            placeholder="Email"></app-input-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="cellPhoneNumber">Número de telefone:</label>
          <app-input-form #inputCellPhoneNumber formControlName="cellPhoneNumber"
            (onInput)="updateFormField(inputCellPhoneNumber.id, $event)" type="text"
            id="cellPhoneNumber" placeholder="Número de telefone"></app-input-form>
        </div>
      </div>

      <app-subheader title="Informações do Endereço"></app-subheader>
      <div appGridContainerSm2>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="publicPlace">Logradouro:</label>
          <app-input-form #inputPublicPlace formControlName="publicPlace"
            (onInput)="updateFormField(inputPublicPlace.id,$event)" type="text" id="publicPlace"
            placeholder="Logradouro"></app-input-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="neighborhood">Bairro:</label>
          <app-input-form #inputNeighborhood formControlName="neighborhood"
            (onInput)="updateFormField(inputNeighborhood.id,$event)" type="text" id="neighborhood"
            placeholder="Bairro"></app-input-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="number">Número:</label>
          <app-input-form #inputNumber formControlName="number"
            (onInput)="updateFormField(inputNumber.id, $event)" type="text" id="number"
            placeholder="Número"></app-input-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameState">Estado:</label>
          <app-autocomplete-form #inputNameState (onSelect)="onSelectState($event, inputNameCity)"
            formControlName="nameState"
            (onInput)="updateFormField(inputNameState.id, $event); filterStatesList(inputNameState.value)"
            id="nameState" placeholder="Estado" [options]="statesList"></app-autocomplete-form>
        </div>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="nameCity">Cidade:</label>
          <app-autocomplete-form #inputNameCity (onSelect)="onSelectCity($event)"
            formControlName="nameCity"
            (onInput)="updateFormField(inputNameCity.id, $event); filterCitiesList(inputNameCity.value)"
            id="nameCity" placeholder="Cidade" [options]="citiesList"></app-autocomplete-form>
        </div>
      </div>
      <app-subheader title="Informações Profissionais"></app-subheader>
      <div appGridContainerSm2>
        <div class="mb-4">
          <label class="font-semibold text-sm" for="position">Cargo:</label>
          <app-input-form #inputPosition formControlName="position"
            (onInput)="updateFormField(inputPosition.id, $event)" type="text" id="position"
            placeholder="Cargo"></app-input-form>
        </div>
      </div>
      <div class="text-center">
        <button appBlueButton (click)="save()">Salvar</button>
      </div>
    </form>
    <div class="flex justify-end items-center tracking-widest mt-4 cursor-pointer">
      <a class="_text-blue font-semibold text-base underline">Alterar Senha</a>
      <img class="h-6 w-6" src="../../../assets/icons/icon_arrow_forward_blue.png">
    </div>
  </div>
</app-layout-page>
