<main class="_bg-color-blue grid grid-rows-[auto,1fr] h-screen">
  <app-auth-flow-header [text]="textHeader"></app-auth-flow-header>
  <app-auth-flow-content>
    <div class="mb-4">
      <p class="text-center font-black text-2xl">Sing In</p>
    </div>
    <div class="mb-6 text-end">
      <form class="mb-3">
        <app-input-form [type]="inputEmail.type" [id]="inputEmail.id" [name]="inputEmail.name"
          [placeholder]="inputEmail.placeholder" [icon]="inputEmail.icon"
          (onBlur)="onBlurInputEmail($event)"></app-input-form>
        <app-input-form [type]="inputPassword.type" [id]="inputPassword.id"
          [name]="inputPassword.name" [placeholder]="inputPassword.placeholder"
          [icon]="inputPassword.icon" (onBlur)="onBlurInputPassword($event)"></app-input-form>
      </form>
      <a class="cursor-pointer" (click)="redirectToRecoverPassword()">Esqueceu a senha?</a>
    </div>
    <div class="text-center" (click)="login()">
      <app-general-button [text]="textButton"></app-general-button>
    </div>
  </app-auth-flow-content>
</main>