/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import './styles/variables';
@import './styles/scrollbar';

@import './styles/components/blur';
@import './styles/components/blur-menu';
@import './styles/components/bg-color-blue';
@import './styles/components/text-blue';
@import './styles/components/bg-color-gray';
@import './styles/components/blue-button';
@import './styles/components/header';
@import './styles/components/card';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif;
}
