<main class="_bg-color-blue grid grid-rows-[auto,1fr] h-screen">
  <app-auth-flow-header [text]="textHeader"></app-auth-flow-header>
  <app-auth-flow-content>
    <div class="mb-4">
      <p class="text-center font-black text-2xl">Recuperar Senha</p>
    </div>
    <form [formGroup]="recoverPasswordForm" class="mb-3">
      <div class="mb-6 text-end">
        <app-input-form formControlName="email" [type]="inputEmail.type" [id]="inputEmail.id"
          [name]="inputEmail.name" [placeholder]="inputEmail.placeholder" [icon]="inputEmail.icon"
          (onBlur)="onBlurInputEmail($event)"></app-input-form>
        <div
          *ngIf="recoverPasswordForm.get('email')?.hasError('required') && recoverPasswordForm.get('email')?.touched"
          class="text-red-500 text-start ml-4">
          Por favor! Informe um email!
        </div>
        <div
          *ngIf="recoverPasswordForm.get('email')?.hasError('pattern') && recoverPasswordForm.get('email')?.touched"
          class="text-red-500 text-start ml-4">
          Email inválido!
        </div>
      </div>
      <div class="text-center">
        <button appBlueButton (click)="recoverPassword()">{{ textButton }}</button>
      </div>
    </form>
  </app-auth-flow-content>
  <a class="
    _bg-color-gray
    cursor-pointer text-end pr-4 pb-2
    text-md
  " (click)="redirectToLogin()">Voltar para tela de login</a>
</main>
